<div class="nav_container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
              <img class="nav_svg" src="assets/wagmi.svg" alt="" width="60" height="30" class="d-inline-block align-text-top">
            </a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stake">
          <img class="nav_svg" src="assets/stake.svg" alt="" width="60" height="30" class="d-inline-block align-text-top">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/road_map">
          <img class="nav_svg" src="assets/road_map.svg" alt="" width="80" height="30" class="d-inline-block align-text-top">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="http://www.twitter.com/damnmfrank">
          <img class="nav_svg" src="assets/twitter.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://github.com/falbanese90">
          <img class="nav_svg" src="assets/discord.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </a>
      </li>
    </ul>
  </div>
