<div style="display: flex;">
  <button (click)="connect()" class="button4" style="display: block; margin-left: auto; margin-right: auto; width: 50%; flex: 1;">Connect Phantom</button>
  <p style="display: block; margin-left: auto; margin-right: auto; width: 50%; flex: 1;">Wallet: {{ public_key }}</p>
</div>
  
  <button class="button4" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">Stake</button>
  <div style="display: flex;">
<div class="wallet-container" style="flex:1;">
  <img src="./assets/stake/wallet.svg" style="height: 100px; display: block; margin-left: auto; margin-right: auto; width: 50%;">
</div>
<div class="wallet-container" style="flex:1;">
  <img src="./assets/stake/staked.svg" style="height: 100px; display: block; margin-left: auto; margin-right: auto; width: 50%;">
</div>
</div>
<div style="display: flex;">
  <div style="height: 1000px; flex: 1;">

    <img class='default center' src="./assets/stake/5643-dead.png">
  </div>
  <div style="height: 1000px; flex: 1;">
  </div>
</div>