<div style="display: flex;">
    <button (click)="connect()" class="button4" style="display: block; margin-left: auto; margin-right: auto; width: 50%; flex: 1;">Connect Phantom</button>
  <p style="display: block; float: right; margin-right: 20px;">Wallet: {{ public_display }}</p>
</div>
  <div class="stats_banner">
    <div class="stats_child">
      <h4>Staked Nfts: {{ this.staked_list.length }}</h4>
    </div>
    <div class="stats_child">
      <h4>Unclaimed Reward: {{ this.tokens }}</h4>
    </div>
    <div class="stats_child">
      <h4>Claimed Rewards: </h4>
    </div>
  </div>
  <div style="display: flex;">
<div class="wallet-container" style="flex:1;">
  <img src="./assets/stake/wallet.svg" style="height: 100px; display: block; margin-left: auto; margin-right: auto; width: 50%;">
</div>
<div class="wallet-container" style="flex:1;">
  <img src="./assets/stake/staked.svg" style="height: 100px; display: block; margin-left: auto; margin-right: auto; width: 50%;">
</div>
</div>
<div style="display: flex;">
  <div style="height: 500px; flex: 1;">
    <div *ngIf="this.image_present && !this.staked">
      <img class='default center' src="./assets/stake/5643-dead.png" style="margin-top: 50px;">
    </div>
    
  </div>
  <div style="height: 500px; flex: 1;">
    <div *ngIf="this.image_present && this.staked">
      <img class='default center' src="./assets/stake/5643-dead.png" style="margin-top: 50px;">
    </div>
  </div>
</div>
<div *ngIf="this.image_present && !this.staked">
<button (click)="stake()" class="button4" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 100px;">Stake</button>
</div>
<div *ngIf="this.image_present && this.staked">
  <button (click)="unstake()" class="button4" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 100px;">Unstake</button>
  </div>
<div style="display: flex; height: 500px;"></div>

