
  <button (click)="connect()" class="btn btn-primary">Connect Phantom</button>
  <div style="display: flex;">
<div class="wallet-container" style="border:solid; flex:1">
  <h1 style="text-align: center; border-bottom: solid;">Wallet</h1>
</div>
<div class="wallet-container" style="border:solid; flex:1">
  <h1 style="text-align: center; border-bottom: solid;">Staked</h1>
</div>
</div>
<div style="display: flex;">
  <div style="height: 1000px; flex: 1;">

  </div>
  <div style="height: 1000px; flex: 1; border-left: solid;">

  </div>
</div>