

html {
    background-color: black;
}

.default {
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 20px black;
}

.temp {
    height: 500px;
    width: 33.3%;
    float: left;
    text-align: center;
    background-color: #f159b4;
    padding: 20px;
    /* border-style: dotted; */
}

.container-fluid {
    background-color: lightgray;
}

.nav_container {
    height: 50px;
    /* border-bottom: 2px solid black; */
    padding-bottom: 1px;
}

.footer {
    height: 500px;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #f159b4;
    /* border-style: dotted; */
}