

.default {
    width: 300px;
    height: 500px;
}

.default_tv {
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 20px black;
}

.temp {
    flex: 1;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #f159b4;
    /* border-style: dotted; */
}

.container-fluid {
    background-color: lightgray;
}

.banner {
    display: flex;
    height: 500px;
    width: 100%;

}
.nav_container {
    height: 50px;
    /* border-bottom: 2px solid black; */
    padding-bottom: 1px;
}

.footer {
    height: 500px;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #f159b4;
    /* border-style: dotted; */
}

@media only screen and (max-width: 600px){
    * {
        background: transparent;
        background-color: #f159b4;
    }
    .default {
       display: unset;
       width: 100px;
       height: 150px;
    }
    .footer {
        height: 125px;
    }
    .footer_image {
        height: 125px;
    }
    .temp {
        height: 250px;
    }
}